  
{% extends 'base.html' %}

{% block content %}
  {% include 'student/_header.html' with active='taken' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Subject</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        {% for taken_tests in taken_test %}
          <tr>
            <td><a href="{% url 'students:student_quiz_results' taken_tests.test.id %}">{{ taken_tests.test.name }}</a></td>
            <td>{{ taken_tests.test.topic.get_htm_badge }}</td>
            <td>{{ taken_tests.percentage }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any quiz yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}